h1 {
  font-family: "Bodoni Moda", serif;
  color: #a3a8b3;
}

p,
a {
  /*transform: rotate(90deg);*/
  font-family: "Kantumruy Pro", sans-serif;
  font-size: 14px;
  text-decoration: none;
}

.menu-div {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}

.menu-icon-main {
  margin-top: 50%;
  text-align: center;
  cursor: pointer;
}

.menu-icon-main a {
  color: #352810;
}

.menu-icon-main a:hover {
  color: #c7cad1;
}

.menu-icon-mobile {
  display: none;
}

.menu {
  background-color: #a3a8b3;
  height: 100vh;
  max-height: 0vh;
  width: 100vw;
  max-width: 0vw;
  opacity: 0;
  padding: 0vh 0vw;
}

.menu-unfolded {
  background-color: #a3a8b3;
  max-height: 100vh;
  max-width: 100vw;
  opacity: 1;
  padding: 7vh 7vw;
}

.menu-icon {
  color: #ffffff;
  cursor: pointer;
}

.menu-icon a {
  color: #ffffff;
}

.menu-icon a:hover {
  color: #352810;
}

.menu-contents {
  padding-top: 5vh;
  padding-left: 50vw;
}

.menu-contents-mobile {
  display: none;
}

.menu-contents a {
  padding-left: 10%;
  font-family: "Bodoni Moda", serif;
  font-size: 60px;
  color: #ffffff;
  line-height: 1.2em;
}

.menu-contents a:hover {
  color: #352810;
}

.menu-contents ul {
  list-style-type: none;
  border-left: 1px solid #ffffff;
  padding-bottom: 10%;
}

.homepage-hero .menu-icon {
  display: none;
}

.circles {
  padding-top: 42vh;
}

.circle-active {
  text-align: center;
  font-size: 10px;
  color: #c7cad1;
}

.circle {
  text-align: center;
  margin: 5vh 0;
  font-size: 7px;
  color: #c7cad1;
}

.col-10 {
  margin-left: 8.3%;
  padding: 0;
}

.homepage-hero {
  position: relative;
  margin-bottom: 100vh;
}

.homepage-hero .menu-icon-mobile {
  display: none;
}

.hero-image {
  width: 62vw;
  float: right;
}

.hero-heading {
  position: absolute;
  padding-top: 50vh;
  padding-left: 7vw;
}

.hero-heading h1 {
  font-size: 120px;
  font-weight: lighter;
  line-height: 0.9em;
  width: 50%;
}

.read-more {
  position: absolute;
  padding-top: 83vh;
  padding-left: 60vw;
  padding-bottom: 1%;
  border-bottom: 1px solid #352810;
}

.read-more a {
  color: #a3a8b3;
  transition: all 200ms ease;
  cursor: pointer;
}

.read-more a:hover {
  color: #352810;
}

.rotate p {
  font-size: 16px;
  color: #352810;
  writing-mode: vertical-rl;
  width: 50%;
  margin: 0 auto;
  padding-top: 38vh;
}

.homepage-content {
  padding: 0 5vw;
}

@media (max-width: 576px) {
  .menu-mobile {
    background-color: #a3a8b3;
    height: 100vh;
    max-height: 0vh;
    width: 100vw;
    max-width: 0vw;
    opacity: 0;
    padding: 0vh 0vw;
  }

  .menu-mobile-unfolded {
    background-color: #a3a8b3;
    max-height: 100vh;
    max-width: 100vw;
    opacity: 1;
    padding: 7vh 7vw;
  }

  .menu-icon-mobile {
    color: #ffffff;
    cursor: pointer;
  }

  .menu-icon-mobile a {
    color: #ffffff;
  }

  .menu-icon-mobile a:hover {
    color: #352810;
  }

  .menu-contents-mobile {
    padding-top: 5vh;
    padding-left: 50vw;
  }

  .menu-contents-mobile a {
    padding-left: 10%;
    font-family: "Bodoni Moda", serif;
    font-size: 60px;
    color: #ffffff;
    line-height: 1.2em;
  }

  .menu-contents-mobile a:hover {
    color: #352810;
  }

  .menu-contents-mobile ul {
    list-style-type: none;
    border-left: 1px solid #ffffff;
    padding-bottom: 10%;
  }

  .menu-contents {
    display: none;
  }

  .homepage-hero .menu-icon-mobile {
    display: block;
    position: absolute;
    color: #c7cad1;
    margin: 3vh 0vw;
  }

  .homepage-hero .menu-icon-mobile a:hover {
    color: #352810;
  }

  .homepage-hero {
    position: relative;
    margin-bottom: 82vh;
  }

  .hero-image {
    width: 150vh;
    float: center;
  }

  .hero-heading {
    position: absolute;
    padding-top: 50vh;
    padding-left: 5vw;
  }

  .hero-heading h1 {
    font-size: 60px;
    font-weight: lighter;
    line-height: 0.9em;
    width: 50%;
  }

  .homepage-hero .menu-icon {
    display: block;
    position: absolute;
    margin: 3vh 0vw;
  }

  .homepage-hero .menu-icon::after {
    color: #352810;
  }

  .read-more {
    display: none;
  }

  .arrow {
    color: #352810;
  }

  .homepage-content {
    padding: 2vw;
  }

  .rotate p {
    font-size: 12px;
    color: #352810;
    writing-mode: vertical-rl;
    width: 50%;
    margin: 0 auto;
    padding-top: 38vh;
  }
}

@media (min-width: 545px) and (max-width: 1000px) {
  .homepage-hero {
    position: relative;
    margin-bottom: 40vh;
  }

  .hero-image {
    width: 100%;
    float: right;
  }

  .hero-heading {
    position: absolute;
    padding-top: 20vh;
    padding-left: 5vw;
  }

  .hero-heading h1 {
    font-size: 120px;
    font-weight: lighter;
    line-height: 0.9em;
    width: 50%;
  }

  .read-more {
    position: absolute;
    padding-top: 38vh;
    padding-left: 62vw;
    border-bottom: 1px solid #352810;
    padding-bottom: 1%;
  }

  .homepage-content {
    padding: 5vw;
  }
}
